<!DOCTYPE html>
<html ng-app="fieldwire">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/javascripts/imgur.js"></script>
    <script src='/javascripts/ng-infinite-scroll.js'></script>
    <script src="/javascripts/angular-fullscreen.js"></script>

</head>
<body>
<h1 id="title"><%= title %></h1>
<div class="container">
<div ng-controller="imageController">
    <input type="text" ng-model="searchText" ng-change="refresh()">
    <button ng-click="start()">Search</button>
    <div class="masonry" infinite-scroll="newPage()" infinite-scroll-distance="0" >
        <div ng-repeat="i in images track by $index" >
            <div id="{{i.id}}"  data-drag="true" >
                <img data-ng-src="{{getURL(i)}}" class="item" ng-click="fullscreen(i)" drag-container="true">
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>
