
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title {
  text-align: center;
}

.container{
  height: 1000px;
}

*, *:before, *:after {box-sizing:  border-box !important;}
.masonry { /* Masonry container */
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%;
  background:  #efefef;
}

img{
  max-width:100%;
  max-height:100%;
}

.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black !important;
}

.lvl-target {
  /*
  applied to all drop targets when a drag operation begins
  removed when the drag operation ends
  used to indicate drop targets on a page
  */
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  /* not applied by the directive, but useful to indicate a draggable element */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  border:1px solid black;
}

.modalImage{

}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  height: 50%;
  width: 100%;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
